  /* Base styles */
  body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 1px 20px;
    margin-top: 30px;
  }
  
  /* Header styles */

  #mainheader {
    background-color: blue;
    color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(10, 10, 114, 0.274);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    }
  
    #paddle {
      float: right;
    }

  header button {
    background-color: rgb(72, 110, 236);
    #display: none;
    padding: 24px;
    text-align: left;
  }
  
  header h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: auto;
  }
  
  header img {
    height: 36px;
  }
  
  /* Navigation styles */
  nav {
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 70px;
    left: -300px;
    bottom: 0;
    width: 300px;
    z-index: 1;
    transition: left 0.3s;
  }
  
  nav ul {
    list-style: none;
    padding: 20px;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color:  #777;
  }
  
  /* Main content styles */
 #main {
    margin-top:auto;
    float: right;
    width: 70%;
    margin-bottom: 20px;
  }  
 
  img {
    display: inline-flex;
  }

 footer {
    clear: both;
    width: 100%;
    margin: 10px;
    font-size: smaller;
    text-align: center;

 }

 header,
        section,
        footer,
        aside,
        nav,
        main,
        article,
        figure {
            display: block;
        }